body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: antiquewhite;
}
h1{
    color: blueviolet;
}
a{
    color: aqua;
}
a:hover {
    color: blue;

}
ul li::before{
    content:"🚀" ;
} p::first-letter{
    font-size: 200%;
    color: brown;
}



